:root{
    --color-greytext:#666666;
    --color-orange: rgba(255, 132, 0,0.2);
    --color-blue:rgba(0, 106, 255,0.2); 
    --color-green: rgba(0, 128, 0, 0.2);   
}

.leftBar{
    position: absolute;
    /* top: 1446px; 
    left: 24px;  */
    width: 1440px;
    height: 900px;
    background: #EBFDFFFF; /* tertiary1-100 */
}

.menulist{
    position: absolute; 
    top: 27px; 
    left: 311px; 
    width: 1103px; 
    height: 845px; 
    background: #FFFFFFFF; /* white */
    border-radius: 15px;
    padding-top: 36px;
    padding-left: 30px;
}

.button{
    position: absolute; 
    width: 280px; 
    height: 77px; 
    border-radius: 15px;
    font-family: Roboto; 
    font-size: 25px; 
    /* line-height: 38px; */
    font-weight: bold;
    border-width: 0px;
}

.billPrice{
    position: absolute;
    width: 150px; 
    height: 77px;
    margin-top: 0px;
    top: 0px;
    left: 200px;
    font-family: Roboto; 
    font-size: 25px;
    color: darkgray;
    /* line-height: 38px; */
    text-align: right;
}

#homebutt{
    position: absolute; 
    top: 159px; 
    left: 17px;
    background: #EBFDFFFF; /* tertiary1-100 */
}

#menubutt{
    position: absolute; 
    top: 239px; 
    left: 17px;
    background: #00BDD633; /* tertiary1-500 */
}

#foodbtn{
    position: absolute; 
    top: 105px; 
    left: 40px; 
    width: 100px; 
    height: 40px; 
    /* display: flex;  */
    align-items: center; 
    font-family: Inter; /* Body */
    font-size: 18px; 
    line-height: 28px; 
    opacity: 1;
    background-color: #FFFFFFFF; /* white */
    border-width: 0px;
    font-weight: bold;
    color: var(--color-greytext);
}

#drinkbtn{
    position: absolute; 
    top: 105px; 
    left: 140px; 
    width: 100px; 
    height: 40px; 
    /* display: flex;  */
    align-items: center; 
    font-family: Inter; /* Body */
    font-size: 18px; 
    line-height: 28px; 
    opacity: 1;
    background-color: #FFFFFFFF; /* white */
    border-width: 0px;
    font-weight: bold;
    color: var(--color-greytext);
}

#addbtn{
    position: absolute; 
    top: 115px; 
    left: 1050px; 
    width: 30px; 
    height: 30px; 
    /* display: flex;  */
    align-items: center; 
    font-family: Inter; /* Body */
    font-size: 18px; 
    line-height: 28px; 
    opacity: 1;
    background-color: #FFFFFFFF; /* white */
    border-width: 1px;
}

h1{
  /* position: absolute;  */
    top: 63px; 
    left: 341px; 
    font-family: Poppins; /* Heading */
    font-size: 32px; 
    line-height: 48px; 
    color: #171A1FFF; /* neutral-900 */
}

#menulable{
    margin-bottom: 50px;
}

#logo{
    /* position: absolute;  */
    top: 27px; 
    left: 61px; 
    width: 71px; 
    height: 71px; 
    background: #DEE1E6FF; /* neutral-300 */
    border-radius: 50%; 
    border-width: 1px; 
    border-color: #BCC1CAFF; /* neutral-400 */
    border-style: solid;
}

#resName{
    position: absolute;
    top: 10px;
    left: 100px;
    width: 200px;
    font-size: 25px;
}