#Field{
    position: absolute;
    top: 100px;
    left: 1000px;
    width: 00px;
    font-size: 25px;
}

#lable{
      position: relative; 
      top: 200px; 
      left: 400px; 
      width: 100px;
      height: 50px;
      font-family: Poppins; /* Heading */
      font-size: 32px; 
      line-height: 48px; 
      color: #171A1FFF; /* neutral-900 */
}

#readname{
    position: relative;
    left: 400px;
    top: 110px;
    width: 500px;
    height: 40px;
}