:root{
    --color-greytext:#666666;
    --color-orange: rgba(255, 132, 0,0.2);
    --color-blue:rgba(0, 106, 255,0.2); 
    --color-green: rgba(0, 128, 0, 0.2);   
}

#mealinfo{
    /* position: absolute; 
    top: 147px; 
    left: 504px; */
    font-family: Poppins;
    /* white */
    /* border-radius: 15px; 
    box-shadow: 0px 17px 35px #171a1f, 0px 0px 2px #171a1f; */
    /* shadow-xl */
    background: var(--color-orange);
    border-radius: 10px;
    border-width: 10px;
    margin-top: 10px;
    width: 1080px;
    height: 150px;
}

#mealname{
    position: relative;
    left: 250px;
    top: -110px;
    font-family: Poppins;
}

#mealdes{
    position: relative;
    left: 250px;
    top: -120px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 200;
    font-style: italic;
}

#mealstat{
    position: relative;
    left: 800px;
    top: -170px;
    font-family: Poppins;
    color: var(--color-greytext);
}

#mealprice{
    position: relative;
    left: 970px;
    top: -210px;
    font-family: Poppins;
    color: var(--color-greytext);
}

#mealimg{
    position: relative;
    left: 20px;
    top: 25px;
    width: 200px;
    height: 100px;
    background-color: var(--color-greytext);
}

#del{
    position: relative;
    left: 1000px;
    top: -300px;
    width: 25px;
    height: 25px;
}

#edit{
    position: relative;
    left: 1010px;
    top: -300px;
    width: 25px;
    height: 25px;
}