.container {
    position: absolute;
    height:92%;
    width:75%;
    top:4%;
    left:23%;
    right:0;
    bottom:0;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    border:none;
    box-shadow: 5px 10px 18px #acacac;
    font-family: 'Roboto Condensed';
  }
  